@charset "utf-8";

/* 1600px */
footer .aria_studio {
    font-size: 180px;
}

.footer_flex {
    flex-direction: column;
    gap: 50px;
}

footer .footer_gnb {
    gap: 5px;
    margin-bottom: 200px;
}

/* 1600px */

/* 1440px */
@media screen and (max-width: 1440px) {

    footer .aria_studio {
        font-size: 160px;
    }
}

/*  */

/* 1280px */
@media screen and (max-width: 1280px) {
    .contact_right {
        font-size: 22px;
    }
    .contact_left p{
        font-size: 36px;
    }
    footer .aria_studio {
        font-size: 120px;
    }
}

/*  */

/* 1024px */
@media screen and (max-width: 1024px) {
    .contact_right {
        font-size: 18px;
    }
    .contact_left p{
        font-size: 30px;
    }
    footer .aria_studio {
        font-size: 92px;
    }
}

/*  */

/* 900px */
@media screen and (max-width: 900px) {
    .main_title {
        font-size: 100px;
    }
    .contact_flex {
        flex-direction: column;
    }
    .contact_right {
        width: 100%;
    }
    footer {
        padding: 25px;
    }

    footer h4 {
        font-size: 24px;
    }

    .footer_flex {
        flex-direction: column;
    }

    .footer_left {
        font-size: 14px;
        margin-bottom: 50px;
    }

    footer .aria_studio {
        font-size: 92px;
    }

    /* footer */
}

/*  */

/* 768px */
@media screen and (max-width: 768px) {
    .main_title {
        font-size: 80px;
    }
    .contact_right {
        font-size: 18px;
    }
    .contact_left p{
        font-size: 24px;
    }
    #gnb {
        position: fixed;
        top: 0;
        transform: translateX(-50%);
        z-index: 999;
        height: 100px;
        line-height: 100px;
        text-align: right;

    }

    #gnb button {
        width: 60px;
        height: 50px;
        margin-right: 50px;
    }

    #gnb button:before {
        width: 60px;

    }

    #gnb button:after {
        position: absolute;
        content: '';
        bottom: 0;
        right: 0;
        width: 60px;
        height: 5px;
        background-color: black;

    }

    #gnbmenu>ul {
        /* position: absolute;
        top: -25px;
        left: 0; */
        position: fixed;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        border: 1px solid black;
        width: 100vh;
        text-align: center;
        line-height: 40px;
        z-index: 999;
    }

    footer .footer_right {
        display: none;
    }

    footer .footer_left {
        flex-direction: column;
        gap: 10px;
    }

    footer .aria_studio {
        font-size: 78px;
    }
}

/* 700px */
@media screen and (max-width:700px) {

    footer .footer_left {
        font-size: 12px;
    }

    footer .aria_studio {
        font-size: 44px;
    }
}

/* 430px */
@media screen and (max-width: 430px) {
    .main_title {
        font-size: 60px;
    }
    
    #gnb {
        position: fixed;
        top: 0;
        transform: translateX(-50%);
        z-index: 999;
        height: 100px;
        line-height: 100px;
    }

    #gnb button {
        width: 60px;
        height: 50px;
        margin-right: 50px;
    }

    #gnb button:before {
        width: 60px;

    }

    #gnb button:after {
        position: absolute;
        content: '';
        bottom: 0;
        right: 0;
        width: 60px;
        height: 5px;
        background-color: black;

    }

    #gnbmenu>ul {
        /* position: absolute;
        top: -25px;
        left: 0; */
        position: fixed;
        top: 100px;
        transform: translateX(-50%);
        background-color: white;
        border: 1px solid black;
        width: 100vh;
        text-align: center;
        line-height: 40px;
        z-index: 999;
    }
}